:443, urcm.example.com {
    tls /etc/caddy/certs/fullchain.pem /etc/caddy/certs/privkey.pem

    @metrics {
        path /metrics*
    }
    handle @metrics {
        reverse_proxy urcm-api:8008
    }

    @health {
        path /health*
    }
    handle @health {
        reverse_proxy urcm-api:8008
    }
}
